.detailContainer{
  max-width: 800px;
  margin: 50px auto;
  padding: 0 2%;
}

.postWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  font-size: .8rem;
  color: #333;
}

.postCategory{
  border: 1px solid #2e64a2;
  border-radius: 2px;
  padding: 6px;
  margin-right: 15px;
  color: #2e64a2;
}

.detailContainer h2{
  font-weight: 500;
}
